<!DOCTYPE html>
<html>

<head>
  <title>Flask React App</title>
  {% include 'head.html' %}
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="manifest" href="/static/site.webmanifest">
  <link rel="stylesheet" href="/static/highlight/styles/solarized-light.css">
  <link rel="stylesheet" href="/static/pure-min.css">
  <link rel="stylesheet" href="/static/miles.css"> -->
</head>

<body>
    {% include 'topnav.html' %}
  <div class="miles-container miles-expand-height">
    <div id="app" class="miles-expand-height"></div>
  </div>

  <script src="static/bundle.js"></script>
</body>

</html>