<!DOCTYPE html>
<html>

<head>
  <title>Reports</title>
  {% include 'head.html' %}
  <script src="/static/highlight/highlight.pack.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
</head>

<body>
    {% include 'topnav.html' %}

  <!-- <div class="miles-container">
    <a class="miles-menu-item" href="{{home_url}}">Home Page</a>
    <a class="miles-menu-item" href="{{schema_url}}">DB Schema Diagram</a> -->
    <div class="miles-container">
      <div id="reports" data-reports="{{reports}}"></div>
    </div>
  <!-- </div> -->

  <script src="/static/bundle.js"></script>
</body>

</html>