<!DOCTYPE html>
<html>

<head>
  <title>Report</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="manifest" href="/static/site.webmanifest">
  <link rel="stylesheet" href="/static/highlight/styles/vs2015.css">
  <link rel="stylesheet" href="/static/pure-min.css">
  <link rel="stylesheet" href="/static/miles.css">
  <script src="/static/highlight/highlight.pack.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
  <script>
    function downloadCSV(csv, filename) {
      var csvFile;
      var downloadLink;

      // CSV file
      csvFile = new Blob([csv], {
        type: "text/csv"
      });

      // Download link
      downloadLink = document.createElement("a");

      // File name
      downloadLink.download = filename;

      // Create a link to the file
      downloadLink.href = window.URL.createObjectURL(csvFile);

      // Hide download link
      downloadLink.style.display = "none";

      // Add the link to DOM
      document.body.appendChild(downloadLink);

      // Click download link
      downloadLink.click();
    }

    function exportTableToCSV(filename) {
      var csv = [];
      var rows = document.querySelectorAll("table tr");

      for (var i = 0; i < rows.length; i++) {
        var row = [],
          cols = rows[i].querySelectorAll("td, th");

        for (var j = 0; j < cols.length; j++)
          row.push(cols[j].innerText);

        csv.push(row.join(","));
      }

      // Download CSV file
      downloadCSV(csv.join("\n"), filename);
    }
  </script>
</head>

<body>
  <div class="miles-container">
    <a class="miles-menu-item" href="{{home_url}}">Home Page</a>
    <a class="miles-menu-item" href="{{schema_url}}">DB Schema Diagram</a>
    <a class="miles-menu-item" href="{{reports_url}}">View All Reports</a>

    <div class="miles-container">
      <div id="report" data-reportname="{{name}}" data-reportdata="{{data}}" data-reportquery="{{query}}"
        data-reporttimestamp="{{timestamp}}"></div>
    </div>
  </div>
  <script src="/static/bundle.js"></script>
</body>

</html>