<!DOCTYPE html>
<html>

<head>
  <title>Flask React App</title>
  {% include 'head.html' %}
</head>

<body>
    {% include 'topnav.html' %}
    <!-- <ul class="navigation">
      <li><a class="miles-menu-item" href="{{home_url}}">Home Page</a></li>
      <li><a class="miles-menu-item" href="{{reports_url}}">View All Reports</a></li>
    </ul>   -->
  <div class="miles-container">
    
    
    <div class="miles-container">
      <div id="viewschema"></div>
    </div>
  </div>

  <script src="static/bundle.js"></script>
</body>

</html>